# Ignore artifacts:
build
coverage
yarn.lock

# config
.eslintrc.json
.prettierrc
# next.config.mjs
# tailwind.config.ts
tsconfig.json
postcss.config.js

# dotfile
.env*

# markdown
*.md

# next.js
/.next/
/out/

# production
/build
