@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 29% 9%; /* #111A1F */
    --foreground: 0 0% 85%; /* #D9D9D9 */

    --card: 205 29% 9%; /* #111A1F */
    --card-foreground: 0 0% 85%; /* #D9D9D9 */

    --popover: 207 17% 12%; /* #151A1E */
    --popover-foreground: 0 0% 85%; /* #D9D9D9 */

    --primary: 206 35% 65%; /* #89B3D1 */
    --primary-foreground: 205 29% 9%;

    --secondary: 84 20% 60%; /* #9BAA89 */
    --secondary-foreground: 205 29% 9%;

    --muted: 210 19% 30%; /* #3E4B59 */
    --muted-foreground: 210 15% 70%; /* #A7B4C2 */

    --accent: 33 30% 65%; /* #C4AB8E */
    --accent-foreground: 205 29% 9%;

    --destructive: 0 100% 25%; /* #810002 */
    --destructive-foreground: 0 0% 98%;

    --border: 213 19% 18%; /* #2D3640 */
    --input: 213 19% 18%; /* #2D3640 */
    --ring: 206 26% 56%; /* #6998B3 */

    --radius: 0.5rem;

    --chart-1: 206 26% 56%; /* #6998B3 */
    --chart-2: 84 13% 45%; /* #798362 */
    --chart-3: 33 22% 45%; /* #8D7856 */
    --chart-4: 210 19% 30%; /* #3E4B59 */
    --chart-5: 208 15% 53%; /* #738C9C */
  }

  .light {
    --background: 204 29% 97%; /* #F5F7F9 */
    --foreground: 205 29% 12%; /* #171E24 */

    --card: 204 29% 97%; /* #F5F7F9 */
    --card-foreground: 205 29% 12%; /* #171E24 */

    --popover: 204 29% 99%; /* #FAFBFC */
    --popover-foreground: 205 29% 12%; /* #171E24 */

    --primary: 206 35% 45%; /* #446C85 */
    --primary-foreground: 0 0% 100%;

    --secondary: 84 20% 45%; /* #748162*/
    --secondary-foreground: 0 0% 100%;

    --muted: 210 19% 85%; /* #DEE3E8 */
    --muted-foreground: 210 25% 30%; /* #455468*/

    --accent: 33 30% 45%; /* #8D7250 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 85% 60%; /* #E63E3E */
    --destructive-foreground: 0 0% 98%;

    --border: 213 19% 85%; /* #DFE3E8 */
    --input: 213 19% 85%; /* #DFE3E8 */
    --ring: 206 26% 46%; /* #507185 */

    --radius: 0.5rem;

    --chart-1: 206 26% 46%; /* #507185 */
    --chart-2: 84 13% 55%; /* #919B7E */
    --chart-3: 33 22% 55%; /* #A99274 */
    --chart-4: 210 19% 70%; /* #A5B3C2 */
    --chart-5: 208 15% 63%; /* #8FA0AD */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
