@import 'tailwindcss';
@import 'tw-animate-css';

@import './syntax-highlight.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-background: var(--background);
  --color-background-hovered: var(--background-hovered);
  --color-background-active: var(--background-active);
  --color-on-background: var(--on-background);
  --color-canvas: var(--canvas);
  --color-canvas-hovered: var(--canvas-hovered);
  --color-on-canvas: var(--on-canvas);
  --color-neutral: var(--neutral);
  --color-neutral-hovered: var(--neutral-hovered);
  --color-neutral-active: var(--neutral-active);
  --color-on-neutral: var(--on-neutral);
  --color-muted: var(--muted);
  --color-muted-hovered: var(--muted-hovered);
  --color-muted-active: var(--muted-active);
  --color-on-muted: var(--on-muted);
  --color-selected: var(--selected);
  --color-on-selected: var(--on-selected);
  --color-link: var(--link);
  --color-link-visited: var(--link-visited);
  --color-highlighted: var(--highlighted);
  --color-focused: var(--focused);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-destructive: var(--destructive);
}

:root {
  --background: oklch(1 0 0);
  --background-hovered: oklch(0.973 0.006 223.5);
  --background-active: oklch(0.946 0.009 242.8);
  --on-background: oklch(0.252 0.008 264.4);
  --neutral: oklch(0.292 0.012 258.4);
  --neutral-hovered: oklch(0.343 0.018 258.4);
  --neutral-active: oklch(0.429 0.022 258.4);
  --on-neutral: oklch(0.988 0.004 197.1);
  --canvas: oklch(0.988 0.004 197.1);
  --canvas-hovered: oklch(0.973 0.006 223.5);
  --on-canvas: oklch(0.539 0.026 258.4);
  --muted: oklch(0.973 0.006 223.5);
  --muted-hovered: oklch(0.946 0.009 242.8);
  --muted-active: oklch(0.904 0.013 251.6);
  --on-muted: oklch(0.429 0.022 258.4);
  --selected: oklch(0.544 0.186 262.9);
  --on-selected: oklch(0.987 0.008 225.1);
  --link: oklch(0.544 0.186 262.9);
  --link-visited: oklch(0.572 0.207 290.8);
  --highlighted: oklch(0.957 0.027 226.8);
  --focused: oklch(0.429 0.146 264.7);
  --accent: oklch(0.57 0.0591 72.61);
  --border: oklch(0.904 0.013 251.6);
  --overlay: oklch(0 0 0 / 0.6);
  --destructive: oklch(0.62 0.2049 25.59); /* #E63E3E */
}

.dark {
  --background: oklch(0.252 0.008 264.4);
  --background-hovered: oklch(0.292 0.012 258.4);
  --background-active: oklch(0.343 0.018 258.4);
  --on-background: oklch(0.988 0.004 197.1);
  --canvas: oklch(0.221 0.002 247.9);
  --canvas-hovered: oklch(0.252 0.008 264.4);
  --on-canvas: oklch(0.751 0.023 256.8);
  --neutral: oklch(0.973 0.006 223.5);
  --neutral-hovered: oklch(0.946 0.009 242.8);
  --neutral-active: oklch(0.904 0.013 251.6);
  --on-neutral: oklch(0.252 0.008 264.4);
  --muted: oklch(0.292 0.012 258.4);
  --muted-hovered: oklch(0.343 0.018 258.4);
  --muted-active: oklch(0.429 0.022 258.4);
  --on-muted: oklch(0.836 0.018 256.3);
  --selected: oklch(0.696 0.153 251.2);
  --on-selected: oklch(0.299 0.086 262.7);
  --link: oklch(0.696 0.153 251.2);
  --link-visited: oklch(0.646 0.161 286.7);
  --highlighted: oklch(0.429 0.146 264.7);
  --focused: oklch(0.696 0.153 251.2);
  --accent: oklch(0.76 0.0493 71.11);
  --border: oklch(0.429 0.022 258.4);
  --overlay: oklch(0 0 0 / 0.6);
  --destructive: oklch(0.62 0.2049 25.59); /* #E63E3E */
}

@layer base {
  * {
    @apply border-border outline-border/50;
  }
  ::selection {
    @apply bg-selected text-on-selected;
  }
  html {
    @apply overscroll-y-none scroll-smooth;
  }
  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@utility content-wrapper {
  @apply mx-auto w-full max-w-4xl px-4 lg:px-6;
}

@utility content-inner {
  @apply mx-auto w-full max-w-3xl;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
